<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>해커톤</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

  <!-- 헤더 -->
  <header class="header">
    <div class="header-left">
      <div class="menu-icon">&#9776;</div> 
      <h1 class="logo">시끌시끌</h1> 
    </div>
    
    <!-- 오른쪽 상단 로그인/로그아웃 버튼 -->
    <div class="header-right">
      {% if session['loggedin'] %}
        <a href="{{ url_for('profile') }}" class="header-btn">프로필</a>
        <a href="{{ url_for('logout') }}" class="header-btn">로그아웃</a>
      {% else %}
        <a href="{{ url_for('login') }}" class="header-btn">로그인</a>
      {% endif %}
    </div>
    
  </header>

  <!-- 검색창 -->
  <div class="search-container">
    <input type="text" class="search-input" placeholder="궁금한 것을 입력하세요">
    <button class="search-btn">&#128269;</button>
  </div>

  <!--제목-->
  <section class="title-section">
    <h2>추천? 여따 뭘 써야할까요</h2>
  </section>

  <section class="cards-container">
    <div class="card">
      <div class="placeholder-image"></div>
      <div class="card-content">
        <h3></h3>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="card">
      <div class="placeholder-image"></div>
      <div class="card-content">
        <h3></h3>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="card">
      <div class="placeholder-image"></div>
      <div class="card-content">
        <h3></h3>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="card">
      <div class="placeholder-image"></div>
      <div class="card-content">
        <h3></h3>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="card">
      <div class="placeholder-image"></div>
      <div class="card-content">
        <h3></h3>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="card">
      <div class="placeholder-image"></div>
      <div class="card-content">
        <h3></h3>
        <p></p>
        <p></p>
      </div>
    </div>

  </section>

  <!-- 시작 버튼 -->
  <button class="start-btn">여행시작</button>

  <!-- 네비게이션 바 -->
  <nav class="bottom-nav">
    <a href="#" class="nav-item">
      <span>🏠</span>
      <p>홈</p>
    </a>
    <a href="#" class="nav-item">
      <span>🧳</span>
      <p>여행하기</p>
    </a>
    <a href="#" class="nav-item">
      <span>📤</span>
      <p>여행 공유하기</p>
    </a>
    <a href="#" class="nav-item">
        <span>🚀</span>
        <p>여행 시작하기</p>
    </a>
  </nav>

</body>
</html>
